@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans'sans-serif;
    ;
}

body{
    height: 100vh;
    background: linear-gradient(120deg, #3bffdbd8, #db25ffda);
    /* align-items: center;  */ 
    /* justify-content: center; */
    margin: 280px;
    
}
.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 5);
}

.relogio div{
    height: 170px;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 10px ;
    letter-spacing: 3px;
    border: solid 5px purple;
}

.relogio span{
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo{
    font-size: 10px;
}

#teste{
    background-color: aqua;
    margin-bottom: 30px;
    margin-top: 30px;
    border: double;
    margin: 29px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 40px;
    

}